<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.clickhouse.mapper.UisTestMapper">

    <select id="selectCount" resultType="int">
        select count() from uid_ind_test;
    </select>

    <insert id="insertJson" parameterType="java.lang.String">
        insert into uid_ind_test format  JSONEachRow #{jsonString};
    </insert>

    <insert id="insertBath" parameterType="cn.com.clickhouse.pojo.UisTest" >
        insert into  uid_ind_test(object_pk, object_pk, biz_code,
      biz_channel, indicator_ao, id_number,
      user_name, phone, trans_time,
      workflow_code, workflow_name, biz_name,
      biz_channel_name, label, indicator_type,
      indicator_name, create_time, update_time,
      indicator_name)
    values
    <foreach collection="indList" item="item" index= "index" separator =",">
    (#{item.objectPk,jdbcType=VARCHAR}, #{item.orderId,jdbcType=VARCHAR}, #{item.bizCode,jdbcType=VARCHAR},
      #{item.bizChannel,jdbcType=VARCHAR}, #{item.indicatorAo,jdbcType=VARCHAR}, #{item.idNumber,jdbcType=VARCHAR},
      #{item.userName,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR}, #{item.transTime,jdbcType=TIMESTAMP},
      #{item.workflowCode,jdbcType=VARCHAR}, #{item.workflowName,jdbcType=VARCHAR}, #{item.bizName,jdbcType=VARCHAR},
      #{item.bizChannelName,jdbcType=VARCHAR}, #{item.label,jdbcType=INTEGER}, #{item.indicatorType,jdbcType=VARCHAR},
      #{item.indicatorName,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP},
      #{item.indicatorValue,jdbcType=LONGVARCHAR})
    </foreach>
    </insert>
</mapper>

